<!-- Label to display any error messages -->

<div class="noteInputs">
    <!-- Title -->
<mat-form-field> 
  <input [(ngModel)]="note.title" name="editTitle" matInput placeholder="Enter Note Title" type="text">
</mat-form-field>
  <!-- Text -->
<mat-form-field>
  <textarea [(ngModel)]="note.content" name="editText" matInput placeholder="Enter Note Text"></textarea>
</mat-form-field>
<mat-form-field>
<mat-select name="editStatus" placeholder="Select state" [(ngModel)]="note.state">
  <mat-option *ngFor="let state of states" [value]="state">
    {{ state }}
  </mat-option>
</mat-select>
</mat-form-field>
</div>
<div class="keep-c-done-wrapper noteSubmit">
  
  <!-- button -->
  <button mat-button (click)="onSave()"  color="primary">Save</button>
</div>
<label class="error-message">{{ errMessage }}</label>



