
.noteInputs{ 
    display: flex;
    flex-direction:column;
    width:25vw;
}

.noteSubmit{
display :flex;
justify-content: flex-end;
}

.error-message{
    font-style: italic;
    color:red;
}

.error-message1{
    font-style: italic;
    color:blueviolet;
}