<div class="formSearch">
	<input type="text" placeholder="Search By Category" [(ngModel)]="searchTerm"/>
	<div class="icon"><mat-icon >search</mat-icon></div>
</div>


<!-- Notes reader panel -->
<div class="noteCardContainer">
	<!-- JESAL -->
	<!-- Include the notes collection with each note rendered as a separate NoteComponent -->
	<app-note [note]="note" *ngFor="let note of filternotes"></app-note>
	<!-- <mat-card class="noteCard" *ngFor="let mynote of notes">
			   <mat-card-title>
				 
				   {{mynote.title}}
			   </mat-card-title>
			   <mat-card-content>
					   {{mynote.text}}
			   </mat-card-content>
		   </mat-card> -->
</div>