
.noteCardContainer{
  display: flex;
  margin:1em;
  flex-wrap: wrap;
}


.formSearch{
position: absolute;
/* top: -6em;*/
left: 1em;
top: 4em;
}

.icon{
position: relative;
right: -9em;
top: -22px;

}



  