.noteInputcontainer{
    width :30vw;
    margin:auto;
    margin-top:-35px;
}

.noteInputs{ 
    display: flex;
    flex-direction:column;
}

.noteSubmit{
display :flex;
justify-content: flex-end;
}

.error-message{
    color: red;
    font-style: italic;
}
.error-message1{
    color: blueviolet;
    font-style: italic;
}

.noteInputsfields{
    width:91%;
}