.noteInputcontainer{
    width :30vw;
    margin:auto;
    margin-top:-35px;
}

.noteInputs{ 
    display: flex;
    flex-direction:column;
}

.noteSubmit{
display :flex;
justify-content: flex-end;
}

.error-message{
    color: red;
    font-style: italic;
}
.error-message1{
    color: blueviolet;
    font-style: italic;
}

.noteInputsfields{
    width:91%;
}
.reminderdd{
    min-width: 250px !important;
    pointer-events: auto;
    font-size: 14px;
    top: 162.125px!important;
    left: 491.906px!important;
}

