<!-- Expansion panel to add new notes -->
<div class="noteInputcontainer">
    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <b>
                    <mat-panel-title>Take a note</mat-panel-title>
                </b>
            </mat-expansion-panel-header>
            <div class="noteInputs">
                <form action="" [formGroup]="noteTakerForm" (ngSubmit)="takeNotes()">
                    <mat-form-field class="noteInputsfields">
                        <input matInput placeholder="Enter Note Title" name="title" formControlName="title">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="noteInputsfields">
                        <textarea matInput placeholder="Enter Note Content" name="content"
                            formControlName="content"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="noteInputsfields">
                        <mat-select placeholder="Select Category" formControlName="category" name="category">
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <br>
                    <br>
                    <mat-form-field class="noteInputsfields">
                        <mat-select placeholder="Select Reminder" formControlName="Reminders" name="Reminders">
                            <mat-option *ngFor="let reminder of Reminders" [value]="reminder">
                                {{reminder.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <div class='noteSubmit'>
                        <button mat-raised-button color="primary" class="button-css">Save</button></div>
                </form>
            </div>



            <!-- Label to display any error messages -->
            <label class="error-message">{{ errMessage }}</label>
            <label class="error-message1">{{ errMessage1 }}</label>
        </mat-expansion-panel>
    </mat-accordion>
</div>