.noteInputcontainer{
    width :30vw;
    margin:auto;
    margin-top:-10px;
}

.noteInputs{ 
    display: flex;
    flex-direction:column;
}

.noteSubmit{
display :flex;
justify-content: flex-end;
}

.error-message{
    color: red;
    font-style: italic;
}

.noteInputsfields{
    width:91%;
}