<div class="login-container">

    <mat-card class="center">

        <h2 class="form-header">Login</h2>

        <div class="login-wrapper">

            <mat-form-field>

                <input matInput class="username" name="username" placeholder="Enter UserName" [formControl]="username"
                    required>
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)"><i>username cannot be left
                        bllank</i></mat-error>

            </mat-form-field>

            <mat-form-field>

                <input matInput class="password" name="password" placeholder="Enter Password" type="password"
                    [formControl]="password" required>
                <mat-error *ngIf="password.hasError('required') && (password.dirty || password.touched)"><i>password
                        cannot be blank</i></mat-error>
                <mat-error *ngIf="password.hasError('minlength') && password.touched"><i>password must be min 6
                        characters</i></mat-error>
            </mat-form-field>



            <div class="center-button">
               

                <button mat-raised-button color="primary" class="button-css" (click)='loginSubmit()'>Sign In</button>

                <button mat-raised-button color="primary" class="button-css" (click)="routeToSignUp()">Sign Up</button>
                <br />
            </div>

        </div>

    </mat-card>

</div>
<!-- Error Message -->

<i><label class="error-message">{{ submitMessage }}</label></i>