.login-container{
    width: 50vw;
    margin: auto;
    padding-top: 5vh;
    height: 30%;
    
    justify-content: center;
    align-items: center;
    }
    
    .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    }
    
    .login-wrapper > * {
    width: 100%;
    }
    
    .error-message {
    color: red;
    padding: 1em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .center{
   
        margin: 10px auto;
        }

  
.form-header{
    text-align: center;
  }


  .button-css{
    background-color: rgb(9, 112, 216);
    width: 20%;
   
  }
  
  .center-button{
    text-align: center;
    padding-top :4px;
  }
  
  .signup-css{
    
    background-color:rgb(9, 112, 216);
    width: 35%;
    text-align: left;
  }

/* Media Queries */
/*etra small devices*/
@media (max-width: 575px) {
    .center{
        width: 110%;
     }
 }
/*small devices*/
 @media (min-width: 576) and (max-width: 767px) {
    .center{
        width: 100%;
     }
 }
/*medium devices*/
 @media (min-width: 768px) and (max-width: 991px) {
    .center{
        width: 75%;
     }
 }
 /*large devices*/
 @media (min-width: 992px) and (max-width: 1199px) {
    .center{
        width: 60%;
     }
 }
 /*Extra large devices*/
 @media (min-width: 1200px) {
    .center{
        width: 60%;
     }
 }
 
