.keeptoggle-view{
	width: 100%;
	margin-left: 76%;
	cursor: pointer;
	margin-bottom: -12px;
}

.logout, .profile{
	cursor:pointer;
	}
	.profile
	{
		margin: 0,2px,0,2px !important;
		float: left;
		padding-left: 2%;
    }
    
    .mat-toolbar.mat-primary {
        bottom: 64px;
        background: #3f51b5;
        color: #fff;
        position: relative;
		}
		
		.menubar{
			position: relative;
			left: 3em;

		}

		