.keeptoggle-view{
	width: 100%;
	margin-left: 40%;
	cursor: pointer;
	margin-bottom: -30px;
	display:flex;
	justify-content: space-evenly;
}


.dropdown-item
{
	position: relative;
	left: -40px;
	top: -1px;
}

.logout {
	cursor: pointer;
	bottom: 37px;
	position: relative;
	left: 37px;
}

.logout, .profile{
	cursor:pointer;
	}
	.profile
	{
		margin: 0,2px,0,2px !important;
		float: left;
		padding-left: 2%;
		margin-top: -5px;
    }
    
    .mat-toolbar.mat-primary {
        bottom: 64px;
        background: #3f51b5;
        color: #fff;
        position: relative;
		}
		
		.menubar{
			position: relative;
			left: 3em;

		}


/* Media Queries */
/*etra small devices*/
@media (max-width: 575px) {
	.keeptoggle-view{
		margin-left: 25%;
   
    margin-bottom: -40px;
	}

	.logout {
    cursor: pointer;
    bottom: 37px;
    position: relative;
    left: 50px;
}
	.dropdown-item {
    position: relative;
    left: -30%;
    top: -1px;
}
 }
/*small devices*/
 @media (min-width: 576) and (max-width: 767px) {
	.keeptoggle-view{
		margin-left: 40%;
   
    margin-bottom: -33px;
	}

	.logout {
    cursor: pointer;
    bottom: 37px;
    position: relative;
    left: 40px !important;
}
	.dropdown-item {
    position: relative;
    left: -72px;
    top: -1px;
}
 }
/*medium devices*/
 @media (min-width: 768px) and (max-width: 991px) {
	.keeptoggle-view{
		margin-left: 40%;
   
    margin-bottom: -33px;
	}

	.logout {
    cursor: pointer;
    bottom: 37px;
    position: relative;
    left: 50px;
}
	.dropdown-item {
    position: relative;
    left: -72px;
    top: -1px;
}
 }
 /*large devices*/
 @media (min-width: 992px) and (max-width: 1199px) {
	.keeptoggle-view{
		margin-left: 55%;
   
    margin-bottom: -40px;
	}

	.logout {
    cursor: pointer;
    bottom: 37px;
    position: relative;
    left: 50px;
}
	.dropdown-item {
    position: relative;
    left: -72px;
    top: -1px;
}
 }
 /*Extra large devices*/
 @media (min-width: 1200px) {
	.keeptoggle-view{
		margin-left: 65%;
   
    margin-bottom: -40px;
	}

	.logout {
    cursor: pointer;
    bottom: 37px;
    position: relative;
    left: 50px;
}
	.dropdown-item {
    position: relative;
    left: -72px;
    top: -1px;
}
 }
 