.signup-form-container{
    width:75vw;
    margin:6vh auto;  
}
h2{
    text-align: center;
    padding: 2vh;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
} 
.signup-form{
    padding: 1em;
    justify-content: center;
    align-items: center;
}


.backlogin-css{
    text-align: end;
    position: relative;
    right: 24em;
    bottom: 5em;
}

  .button-css{
    
    text-align: left;
    position: relative;
    top: 78px;
    left: 178px;
  }



  form 
{
    border:1px solid navy;
    margin : auto;
    margin-top:30px;
   
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    padding:10px;
}

form div label{
    margin:5px;
}

form div input{
    width :50%
}

form div input.submit{
    width: 20%;
    margin-left: auto;
}

small{
    color :red;
    font-style:italic;

}

.smalls{
    color :red;
    font-style:italic;
    position: relative;
    left: 22em;
}

/* Media Queries */

/*etra small devices*/
@media (max-width: 575px) {
    form div input.submit{
        width: 30%;
     }
     form 
        {
            width:75vw;
        }

        .backlogin-css{
            
            position: relative;
            right: 16em;
            bottom: 5em;
        }
 }
/*small devices*/
 @media (min-width: 576) and (max-width: 767px) {
    form div input.submit{
        width: 32%;
     }
     form 
     {
         width:75vw;
     }
     .backlogin-css{
            
        position: relative;
        right: 24em;
        bottom: 5em;
    }
 }
/*medium devices*/
 @media (min-width: 768px) and (max-width: 991px) {
    form div input.submit{
        width: 20%;
     }
     form 
     {
         width:55vw;
     }
     .backlogin-css{
            
        position: relative;
        right: 27em;
        bottom: 5em;
    }
 }
 /*large devices*/
 @media (min-width: 992px) and (max-width: 1199px) {
    form div input.submit{
        width: 20%;
     }
     form 
     {
         width:35vw;
     }
     .backlogin-css{
            
        position: relative;
        right: 34em;
        bottom: 5em;
    }

 }
 /*Extra large devices*/
 @media (min-width: 1200px) {
    form div input.submit{
        width: 20%;
     }
     form 
     {
         width:35vw;
     }
     .backlogin-css{
            
        position: relative;
        right:39em;
        bottom: 5em;
    }
     
 }
